---
---
<!DOCTYPE html>
<html>
    <head>
        <title>[TODO - Title]</title>
        {% include landing_head.html %}
    </head>

    <body class="appear-animate">
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            {% include landing_nav.html %}
            
            <!-- Home Section -->
            <section class="page-section pb-0 bg-dark" data-background="images/full-width-images/section-bg-18.jpg"  id="home">
                <div class="relative">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="align-center">
                                    <h1 class="hs-line-8 no-transp font-alt mb-40 mb-xs-20">[TODO - Primary Heading]</h1>
                                    <h3 class="hs-line-15 font-alt">[TODO - Secondary Heading]</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include landing_schedule.html %}

                </div>
            </section>
            <!-- End Home Section -->

            <!-- Divider -->
            {% include divider.html %}
            <!-- End Divider -->

            <!-- Logos Section -->
            <section class="page-section pt-20 pb-20">
                <div class="container relative">
                    <br />
                    <div class="row">
                        <div class="col-lg-offset-3 col-lg-6 text-center"><h3>Trusted By [TODO - TRUST]:</h3></div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">

                            <div class="item-carousel black owl-carousel mb-0 animate-init" data-anim-type="fade-in-right-large" data-anim-delay="100">

                                <!-- Logo Item -->
                                <div class="logo-item">
                                    <img src="images/clients-logos/client-1.png" alt="" />
                                </div>
                                <!-- End Logo Item -->

                                <!-- Logo Item -->
                                <div class="logo-item">
                                    <img src="images/clients-logos/client-2.png" alt="" />
                                </div>
                                <!-- End Logo Item -->

                                <!-- Logo Item -->
                                <div class="logo-item">
                                    <img src="images/clients-logos/client-3.png" alt="" />
                                </div>
                                <!-- End Logo Item -->

                                <!-- Logo Item -->
                                <div class="logo-item">
                                    <img src="images/clients-logos/client-3.png" alt="" />
                                </div>
                                <!-- End Logo Item -->

                            </div>

                        </div>
                    </div>

                </div>
            </section>
            <!-- End Logotypes -->

            <!-- Testimonials Section -->
            <section class="page-section bg-dark bg-dark-alfa-90 fullwidth-slider" data-background="images/full-width-images/section-bg-3.jpg">

                <!-- Slide Item -->
                <div>
                    <div class="container relative">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 align-center">
                                <!-- Section Icon -->
                                <div class="section-icon">
                                    <span class="icon-quote"></span>
                                </div>
                                <!-- Section Title --><h3 class="small-title font-alt">What people say?</h3>
                                <blockquote class="testimonial white">
                                    <p>
                                        [TODO - Testimonial]
                                    </p>
                                    <footer class="testimonial-author">
                                        [TODO - Name]
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Slide Item -->
            </section>
            <!-- End Testimonials Section -->

            <!-- About Section; center all text-->
            <section class="page-section" id="about">
                <div class="container relative">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="section-text align-center">
                                <div class="mb-30">
                                    <img class="mb-20" src="/customers/images/landing/feature-1.png" width="217" height="163" alt="" />
                                    <img  class="mb-20" src="/customers/images/landing/feature-2.png" width="217" height="163" alt="" />
                                    <img class="mb-20" src="/customers/images/landing/feature-1.png" width="217" height="163" alt="" />
                                </div>
                                <blockquote class="mb-0">
                                    <p>
                                        [TODO - Text]
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Text Section -->

            <!-- About Section; Image on the left -->
            <section class="page-section">
                <div class="container relative">
                    <div class="row">
                        <div class="col-md-7 mb-sm-40">
                            <!-- Image -->
                            <div class="work-full-media mt-0 white-shadow wow fadeIn">
                                <img src="images/promo-3.png" alt="" />
                            </div>
                            <!-- End Image -->
                        </div>
                        
                        <div class="col-md-5 col-lg-4 col-lg-offset-1">
                            <!-- Description -->
                            <div class="text">
                                <h3 class="font-alt mb-30 mb-xxs-10">[TODO - Section Title]</h3>
                                <p>
                                    [TODO - Text]
                                </p>
                            </div>
                            <!-- End Description -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Section -->

            <!-- Divider -->
            {% include divider.html %}
            <!-- End Divider -->

            <!-- About Section; Image on the right -->
            <section class="page-section">
                <div class="container relative">
                    <div class="row">
                        <div class="col-md-5 col-lg-4 mb-sm-40">
                            <!-- Description -->
                            <div class="text">
                                <h3 class="font-alt mb-30 mb-xxs-10">[TODO - Section Title]</h3>
                                <p>
                                    [TODO - Section Text]
                                </p>
                            </div>
                            <!-- End Description -->
                        </div>
                        <div class="col-md-7 col-lg-offset-1">
                            <!-- Image -->
                            <div class="work-full-media mt-0 white-shadow wow fadeIn">
                                <img src="images/promo-4.png" alt="" />
                            </div>
                            <!-- End Image -->
                        </div>
                     </div>
                </div>
            </section>
            <!-- End Section -->
            
            <!-- Divider -->
            {% include divider.html %}
            <!-- End Divider -->

            <!-- Divider -->
            {% include divider.html %}
            <!-- End Divider -->
            
            <!-- Divider -->
            {% include divider.html %}
            <!-- End Divider -->

            {% include landing_footer.html %}

        </div>
        <!-- End Page Wrap -->
        {% include landing_js.html %}
        
    </body>
</html>
