<footer>
  <div id="footer" class="bg-gray-lighter">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <ul class="list-unstyled">
            <li>&copy; <a href="https://angel.co/freebusy">BizLogr Inc.</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="list-unstyled">
            <li><a href="https://freebusy.io/about">About Us</a></li>
            <li><a href="https://freebusy.io/how-it-works">How It Works</a></li>
            <li><a href="https://freebusy.io/enterprise">Enterprise Scheduling</a></li>
            <li><a href="https://freebusy.io/developers">Developer API</a></li>
            <li><a href="https://freebusy.io/security">Security</a></li>
            <li><a href="https://freebusy.io/blog">Blog</a></li>
            <li><a href="https://freebusy.io/privacy">Privacy Policy</a></li>
            <li><a href="https://freebusy.io/terms">Terms of Use</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <div class="addthis_vertical_follow_toolbox"></div>
        </div>
        <div class="col-sm-4 newsletter">
          <p>Subscribe to our mailing list<br />and we'll inform you of updates.</p>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//freebusy.us9.list-manage.com/subscribe/post?u=755277aa8a7df83c52fc44f0a&amp;id=f175123046" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="input-group">
                <input type="email" name="EMAIL" id="mce-EMAIL" class="email form-control input-sm" placeholder="enter your email address" required data-bv-notempty="true" />
                <span class="input-group-btn">
                  <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-sm">Subscribe</button>
                </span>
              </div>
              <!-- anti-bot protection -->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_755277aa8a7df83c52fc44f0a_f175123046" tabindex="-1" value=""></div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
</footer>
