<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://freebusy.io/">&nbsp;</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav text-uppercase">
        <li><a href="https://freebusy.io/meet"><span class="glyphicon glyphicon-th-list"></span>&nbsp; Meet</a></li>
        <li><a href="https://freebusy.io/share"><span class="glyphicon glyphicon-share"></span>&nbsp; Share</a></li>
        <li><a href="https://freebusy.io/prefs"><span class="glyphicon glyphicon-cog"></span>&nbsp; Preferences</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="text-uppercase" href="https://freebusy.io/help">Help Center</a></li>
      </ul>
    </div>
  </div>
</nav>
