<!-- JS -->
<script type="text/javascript" src="/help/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/help/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/help/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/help/js/SmoothScroll.js"></script>
<script type="text/javascript" src="/help/js/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/help/js/jquery.localScroll.min.js"></script>
<script type="text/javascript" src="/help/js/jquery.viewport.mini.js"></script>
<script type="text/javascript" src="/help/js/jquery.countTo.js"></script>
<script type="text/javascript" src="/help/js/jquery.appear.js"></script>
<script type="text/javascript" src="/help/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/help/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/help/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="/help/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/help/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/help/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/help/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script type="text/javascript" src="/help/js/gmap3.min.js"></script>
<script type="text/javascript" src="/help/js/wow.min.js"></script>
<script type="text/javascript" src="/help/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/help/js/jquery.simple-text-rotator.min.js"></script>
<script type="text/javascript" src="/help/js/all.js"></script>
<script type="text/javascript" src="/help/js/contact-form.js"></script>
<script type="text/javascript" src="/help/js/jquery.ajaxchimp.min.js"></script>
<!--[if lt IE 10]>
<script type="text/javascript" src="/help/js/placeholder.js"></script>
<![endif]-->
