<!-- Navigation panel -->
<nav class="main-nav js-stick">
    <div class="container relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="https://freebusy.io" class="logo">
                <img src="/customers/images/logo-dark.png" alt="" />
            </a>
        </div>
        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>
        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist scroll-nav local-scroll">
                <!-- Button -->
                <li>
                    <a href="/help"><span class="">HELP CENTER</span></a>
                </li>
                <!-- End Button -->

            </ul>
        </div>
    </div>
</nav>
<!-- End Navigation panel -->