<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="calendar, availability, meeting, schedule, scheduling, reimbursement, business, expenses">
<meta name="description" content="FreeBusy eliminates coordination headaches when you need to schedule a meeting (for free)">
<meta name="abstract" content="FreeBusy eliminates coordination headaches when you need to schedule a meeting (for free)">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<!-- CSS -->
<link rel="apple-touch-icon" sizes="120x120" href="https://az805145.vo.msecnd.net/content/icons/freebusy-icon-120x120.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://az805145.vo.msecnd.net/content/icons/freebusy-icon-96x96.png">
<link rel="icon" type="image/x-icon" href="https://az805145.vo.msecnd.net/content/icons/favicon.ico">
<link rel="shortcut icon" type="image/x-icon" href="https://az805145.vo.msecnd.net/content/icons/favicon.ico">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,700,500,400italic">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href="https://freebusy.io/content/css/webapp" rel="stylesheet">

<link rel="stylesheet" href="/help/css/bootstrap.min.css">
<link rel="stylesheet" href="/help/css/style.css">
<link rel="stylesheet" href="/help/css/style-responsive.css">
<link rel="stylesheet" href="/help/css/animate.min.css">
<link rel="stylesheet" href="/help/css/vertical-rhythm.min.css">
<link rel="stylesheet" href="/help/css/owl.carousel.css">
<link rel="stylesheet" href="/help/css/magnific-popup.css">
<link rel="stylesheet" href="/help/css/custom.css">