<!-- Footer -->
<section class="page-section pt-0 pb-0 banner-section bg-dark" style="background:url(https://az805145.vo.msecnd.net/content/images/section-bg-dark.jpg?v=20160620) no-repeat center center;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 align-center">
                <div class="mt-100 mt-lg-80 mb-120 mb-lg-80">
                    <div class="banner-content text-center">
                        <p class="lead mb-30">
                            No sign-up necessary<br>
                            No username or password to remember
                        </p>
                        <div class="mt-30 mb-30">
                            <a data-analytics-category="signup" data-analytics-event="web_hmpg_sgnbtn_bottom" href="https://freebusy.io/connect" class="btn btn-mod">JUST SIGN IN <br class="hidden-sm hidden-md hidden-lg"> WITH YOUR CALENDAR</a>
                        </div>
                        <p>
                            Then add your FreeBusy link to your email signature and tell your contacts <br>
                            <em>Need to schedule a meeting? See when I'm available!</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Footer -->