<div class="relative bg-dark-alfa-50 mt-60 pt-80 pt-xs-30 pb-70 pb-xs-20">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="align-center">
                    <div class="mb-10">
                        <a href="https://freebusy.io/meet"><button class="btn btn-mod text-center"><i class="glyphicon glyphicon-calendar"></i>   SCHEDULE MEETING <br class="hidden-sm hidden-md hidden-lg"> NOW</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>