---
---
<!DOCTYPE html>
<html>
<head>
    <title>Recruiters</title>
    {% include landing_head.html %}
</head>

<body class="appear-animate">
<!-- Page Loader -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->

<!-- Page Wrap -->
<div class="page" id="top">
    {% include landing_nav.html %}

    <!-- Home Section -->
    <section class="page-section pb-0 bg-dark" data-background="/customers/images/teachers.jpg"  id="home">
        <div class="relative">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="align-center">
                            <h1 class="hs-line-8 no-transp font-alt mb-40 mb-xs-20">Setting up a quick 30 minutes phone interview
                            </h1>
                            <h3 class="hs-line-15 font-alt">Benefits:<br/>								
								Decreased time needed for scheduling interviews<br>
								Gets the optimal 1:1 meeting’s time with candidate’s interested in the job<br>
							</h3>
                        </div>
                    </div>
                </div>
            </div>

            {% include landing_schedule.html %}

        </div>
    </section>
    <!-- End Home Section -->

    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->

    <!-- About Section; center all text-->
    <section class="page-section" id="about">
        <div class="container relative">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-text ">
                        <div class="mb-0">
                            <p>
								Scheduling meetings with potential candidates for job interviews isn’t an easy job and it's particularly hard when you don’t have access to their calendars and don’t know their habits and how their schedule is looking.
                                <br><br>
                                Keeping track of appointments across them all are one thing but what about the last-minute reschedules, the “no-shows” or the scheduling conflicts and duplicate events?
                                <br><br>
								Juggling different candidates for different job roles will get confusing and will often lead to double booking yourself. Getting 40 meeting invites for 1 job role with different times & dates is going to do your head in, trying to manage your time throughout the week.
                                <br><br>
								Brian’s job was to find the best talent available for his clients in which he had to schedule a lot of interviews on their behalf as well as his personal meetings and appointments.
                                <br><br>
								<b>FreeBusy</b> really helped Brian and came in handy with an important tool: having the blocked time sync on a single view which was extremely helpful for a person in Brian's line of work.
                                <br><br>
								Instead of going through his separate email accounts to see his availability on other platforms, he gets to see his availability from one screen and gets back to the candidate ASAP, keeping the candidate keen for the job.
                                <br><br>
								Lastly, the ability to access his Calendar offline via synchronizing it to his iPhone saved him so much time & energy by not having to access his calendar’s online.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Text Section -->

    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->

    <!-- About Section; No Sign Up -->
    <section class="page-section">
        <div class="container relative">
            <div class="row">
                <div class="col-md-5 col-lg-4 mb-sm-40 vcenter">
                    <!-- Description -->
                    <div class="text">
                        <h3 class="font-alt mb-30 mb-xxs-10">No Sign-up Necessary</h3>
                        <p>
                            You can use any calendar service even if it’s different from your invitees (i.e. Outlook, Office 365, Google, etc.)
                            <br><br>
                            No username or password to remember
							<br><br>
							FreeBusy works whether your invitees are FreeBusy users or not
                        </p>
                    </div>
                    <!-- End Description -->
                </div>
                <div class="col-md-7 col-lg-offset-1">
                    <!-- Image -->
                    <div class="work-full-media mt-0 white-shadow wow fadeIn" style="text-align:right">
                        <img src="/customers/images/logos.png" alt="" />
                    </div>
                    <!-- End Image -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->

    <!-- About Section; Schedule Meetings -->
    <section class="page-section">
        <div class="container relative">
            <div class="row">
                <div class="col-md-7 mb-sm-40">
                    <!-- Image -->
                    <div class="work-full-media mt-0 white-shadow wow fadeIn">
                        <img src="/customers/images/meet.png" alt="" />
                    </div>
                    <!-- End Image -->
                </div>

                <div class="col-md-5 col-lg-4 col-lg-offset-1 vcenter">
                    <!-- Description -->
                    <div class="text">
                        <h3 class="font-alt mb-30 mb-xxs-10">Schedule Meetings</h3>
                        <p>
                            You can see everyone’s availability and schedule a meeting all in one invite.
                            <br><br>
                            You can schedule 1:1 or group meetings all from your favorite internet browser
                            <br><br>
                            Elimination of the back-and-forth with contacts inside and outside of your organization
                            <br><br>
                        </p>
                    </div>
                    <!-- End Description -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->

    <!-- About Section; Control -->
    <section class="page-section">
        <div class="container relative">
            <div class="row">
                <div class="col-md-5 col-lg-4 mb-sm-40 vcenter">
                    <!-- Description -->
                    <div class="text">
                        <h3 class="font-alt mb-30 mb-xxs-10">Control Your Availability</h3>
                        <p>
                            You can automatically set your availability or office hours and have people select the best time based on your availability
							<br><br>
							Only availability is shared. Event details stay private.
                        </p>
                    </div>
                    <!-- End Description -->
                </div>
                <div class="col-md-7 col-lg-offset-1">
                    <!-- Image -->
                    <div class="work-full-media mt-0 white-shadow wow fadeIn" style="text-align:right">
                        <img src="/customers/images/multiple_calendars_privacy.png" alt="" />
                    </div>
                    <!-- End Image -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Testimonials Section -->
    <section class="page-section bg-dark bg-dark-alfa-90 fullwidth-slider" data-background="/customers/images/teachers.jpg">
 
        <!-- Slide Item -->
        <div>
            <div class="container relative">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 align-center">
                        <!-- Section Icon -->
                        <div class="section-icon">
                            <span class="icon-quote"></span>
                        </div>
                        <!-- Section Title --><h3 class="small-title font-alt">What people say?</h3>
                        <blockquote class="testimonial white">
                            <p>
							"I run a consulting practice where my clients often want me to be on their own company email systems. This means that I'm often juggling multiple calendars, which proves to be a nightmare when trying to determine if I'm available at a given time and have to check each client's calendar separately--along with my own company and personal calendars. FreeBusy took that pain away; I now have one place to look to know when I'm free (or busy). Thank you!"                            </p>
                            <footer class="testimonial-author">
							Brian Turk, Run Consultants
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide Item -->
    </section>
    <!-- End Testimonials Section -->

    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->
    
    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->

    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->

    {% include landing_footer.html %}

</div>
<!-- End Page Wrap -->
{% include landing_js.html %}

</body>
</html>
