<!DOCTYPE html>
<html>
<head>
    <title>FreeBusy Help Center</title>
    {% include help_head.html %}
</head>

<body class="appear-animate">
    <!-- Page Loader -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->
    <!-- Page Wrap -->
    <div class="page" id="top">

        {% include help_nav.html %}
        <!-- Help Content -->
        <section class="page-section" id="help-content">
            <div class="container relative">
                <div class="row">
                    <div class="col-md-10">
                        <div class="section-text">
                            <div class="mb-0">
                                <h3>{{ page.title }}</h3>
                                <div class="mt-30">
                                    {{ content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Text Section -->

    </div>
    <!-- End Page Wrap -->
    {% include help_js.html %}

</body>
</html>

