---
layout: blog
---
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1 mt-40">
    <div class="blog-item">
      <div class="blog-item-body">
        <h1>{{ page.title }}</h1>
        <br />
        <p class="small">
          <time datetime={{ page.date }}>
            Published on {{ page.date | date: '%A, %B %d, %Y' }}
            by {{ page.author }}
          </time>
        </p>
        <br />
        <div class="content">
            {{ content }}
        </div>
        <div class="addthis_native_toolbox"></div>
        <br /><br/>
        <div class="share">
          <div id="disqus_thread"></div>
            <script type="text/javascript">
              /* * * begin config variables * * */
              var disqus_shortname = 'freebusy';
              /* * * end config variables * * */
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view comments.</noscript>
          </div>
        <br /><br/>
      </div>
    </div>
  </div>
</div>

