---
---
<!DOCTYPE html>
<html>
<head>
    <title>Marketing Managers</title>
    {% include landing_head.html %}
</head>

<body class="appear-animate">
<!-- Page Loader -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->

<!-- Page Wrap -->
<div class="page" id="top">
    {% include landing_nav.html %}

    <!-- Home Section -->
    <section class="page-section pb-0 bg-dark" data-background="/customers/images/teachers.jpg"  id="home">
        <div class="relative">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="align-center">
                            <h1 class="hs-line-8 no-transp font-alt mb-40 mb-xs-20">The world’s Easiest Online Scheduling Assistant for Marketing Managers
                            </h1>
                            <h3 class="hs-line-15 font-alt">Giving you more time to focus on Context<br/>
                            <br><br>
							</h3>
                        </div>
                    </div>
                </div>
            </div>

            {% include landing_schedule.html %}

        </div>
    </section>
    <!-- End Home Section -->

    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->

    <!-- About Section; center all text-->
    <section class="page-section" id="about">
        <div class="container relative">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-text ">
                        <div class="mb-0">
                            <p>
                            	<h3 class="hs-line-15 font-alt">Benefits:<br/>	</h3>
                            	<ul>

							<li>Time zone guesses become a thing of the past <br> </li>
							<li>Giving clients the ability to pick a time for a meeting on their own without pressure <br> </li>
							<li>Taking out a minimum of 4 emails per meeting scheduled  <br> </li>
				</ul>
								Working as a consultant means you have different clients to tend for, certainly clients located in different continents, countries, time zones so it usually gets very tricky trying to put them on your calendar for a meeting particular when no one has access to everyone's calendar cross companies. 

                                <br><br>
								At <b>FreeBusy</b> we wanted to offer consultants a streamless experience with a great <b>UI</b>, displaying availability times so clearly and structured via email. Eliminating the <b>time zone</b> headache that we all face when needing to schedule meetings with clients in different countries.
                                <br><br>
								Eliminating all the admin work needed for coordinating time zones between several parties on a call. Giving back more time for consultants to get more work done, winning more deals which would result in more revenue.

                                <br><br>
								Being such a simple tool to use, with a great <b>UX</b> many clients of Aaron become </b>FreeBusy</b> customers. When you see someone using a great tool which makes there life easier and helps them achieving there goals, you'd end up wanting to use such a tool for yourself. 

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Text Section -->

    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->

    <!-- About Section; No Sign Up -->
    <section class="page-section">
        <div class="container relative">
            <div class="row">
                <div class="col-md-5 col-lg-4 mb-sm-40 vcenter">
                    <!-- Description -->
                    <div class="text">
                        <h3 class="font-alt mb-30 mb-xxs-10">No Sign-up Necessary</h3>
                        <p>
                            You can use any calendar service even if it’s different from your invitees (i.e. Outlook, Office 365, Google, etc.)
                            <br><br>
                            No username or password to remember
							<br><br>
							FreeBusy works whether your invitees are FreeBusy users or not
                        </p>
                    </div>
                    <!-- End Description -->
                </div>
                <div class="col-md-7 col-lg-offset-1">
                    <!-- Image -->
                    <div class="work-full-media mt-0 white-shadow wow fadeIn" style="text-align:right">
                        <img src="/customers/images/logos.png" alt="" />
                    </div>
                    <!-- End Image -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->

    <!-- About Section; Schedule Meetings -->
    <section class="page-section">
        <div class="container relative">
            <div class="row">
                <div class="col-md-7 mb-sm-40">
                    <!-- Image -->
                    <div class="work-full-media mt-0 white-shadow wow fadeIn">
                        <img src="/customers/images/meet.png" alt="" />
                    </div>
                    <!-- End Image -->
                </div>

                <div class="col-md-5 col-lg-4 col-lg-offset-1 vcenter">
                    <!-- Description -->
                    <div class="text">
                        <h3 class="font-alt mb-30 mb-xxs-10">Schedule Meetings</h3>
                        <p>
                            You can see everyone’s availability and schedule a meeting all in one invite
                            <br><br>
                            You can schedule 1:1 or group meetings all from your favorite internet browser
                            <br><br>
                            Elimination of the back-and-forth with contacts inside and outside of your organization
                            <br><br>
                        </p>
                    </div>
                    <!-- End Description -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->

    <!-- About Section; Control -->
    <section class="page-section">
        <div class="container relative">
            <div class="row">
                <div class="col-md-5 col-lg-4 mb-sm-40 vcenter">
                    <!-- Description -->
                    <div class="text">
                        <h3 class="font-alt mb-30 mb-xxs-10">Control Your Availability</h3>
                        <p>
                            You can automatically set your availability or office hours and have people select the best time based on your availability
							<br><br>
							Only availability is shared. Event details stay private
                        </p>
                    </div>
                    <!-- End Description -->
                </div>
                <div class="col-md-7 col-lg-offset-1">
                    <!-- Image -->
                    <div class="work-full-media mt-0 white-shadow wow fadeIn" style="text-align:right">
                        <img src="/customers/images/multiple_calendars_privacy.png" alt="" />
                    </div>
                    <!-- End Image -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Testimonials Section -->
    <section class="page-section bg-dark bg-dark-alfa-90 fullwidth-slider" data-background="/customers/images/teachers.jpg">
 
        <!-- Slide Item -->
        <div>
            <div class="container relative">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 align-center">
                        <!-- Section Icon -->
                        <div class="section-icon">
                            <span class="icon-quote"></span>
                        </div>
                        <!-- Section Title --><h3 class="small-title font-alt">What people say?</h3>
                        <blockquote class="testimonial white">
                            <p>
							"As a consulting firm, we're on the phone with clients constantly.  And coordinating a time to connect can be such a pain - awkward and back and forth, plus it's a hassle to list your times in bullet point form, hope you got the time zones right, etc.  FreeBusy wipes the slate - I just provide the link, and the client appointment shows up on my calendar.  Clients get to know it, and start using it without me even suggesting it.  It's also great when you have more than one email account to juggle."
                            <footer class="testimonial-author">
							Aaron Ayer, The Hunley Group 

                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide Item -->
    </section>
    <!-- End Testimonials Section -->

    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->
    
    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->

    <!-- Divider -->
    {% include divider.html %}
    <!-- End Divider -->

    {% include landing_footer.html %}

</div>
<!-- End Page Wrap -->
{% include landing_js.html %}

</body>
</html>
